# Customized type (data object)
### Example: How to define employees in a company with attribute: Name, Salary, job, years of service?
### (we will consider only a start-up company here with 3 employees)

---

### The inefficient way (4*3=12 variables to store all attributes)

In [ ]:
# employee 1
name1="Kate"
job1="CEO"
salary1=110000
year1=3

# employee 2
name2="Luke"
job2="Engineer"
salary2=90000
year2=2

# employee 3
name3="John"
job3="Commerical"
salary3=75000
year3=1

### The efficient way -- using 3 variables (data object) of customized type Employee (create a class that contains all attributes)

In [ ]:
# Create a new class Employee (new data type) with attribute name,job,salary and year
class Employee: # first letter is upper case by convention
  def __init__(self, my_name, my_job, my_salary, my_year): #constructor (self is not part of the argument list)
    self.name=my_name
    self.job=my_job
    self.salary=my_salary
    self.year=my_year


# Remark: when an object is instantiated, Python calls the corresponding __init__ function. 

employee1=Employee("Kate","CEO",110000,3)        # instantiate  employee1
employee2=Employee("Luke","Engineer",90000,2)    # instantiate  employee1
employee3=Employee("John","Commercial",75000,1)  # instantiate  employee1

In [ ]:
#Accessing the name of employee 1
print("Name first employee",employee1.name)

#Editing the job of employee 2 
employee2.job="CTO"
print("New job for second employee",employee2.job)

### Regroup all employees- optimal option using a list of data objects

In [ ]:
# Create the class Employee (new data type) with attribute name,job,salary and year
class Employee: 
  def __init__(self, my_name, my_job, my_salary, my_year): 
    self.name=my_name
    self.job=my_job
    self.salary=my_salary
    self.year=my_year

# Instantiate objects
employee1=Employee("Kate","CEO",110000,3)        
employee2=Employee("Luke","Engineer",90000,2)   
employee3=Employee("John","Commercial",75000,1) 

# regroup the objects
employees=[employee1,employee2,employee3]

# Accessing all Employee names
for member in employees:
  print(member.name)

# Editing 2nd employee job (Engineer -> CTO)
employees[1].job="CTO" 
print("New job for second employee",employees[1].job)

In [ ]:
# Example with passing arguments in functions
def new_employee_info(emp):
  return emp.name+"-- Job:"+emp.job+"-- Salary:"+str(emp.salary)+"-- Years:"+str(emp.year)


### Main program (we suppose that class Employee and employees list are already defined)

# loop with indexing
for i in range(3):
  print(new_employee_info(employees[i]))
print()

# loop without indexing
for member in employees:
  print(new_employee_info(member))

# Remark: only one argument to pass in both cases
#         it becomes very easy to add new attributes in the class Employee
#         without having to change the sructure or syntax of the program

#Complement

### Constructor using default options

In [ ]:
# Create the class Employee
class Employee: 
  def __init__(self, my_name=None, my_job=None, my_salary=75000, my_year=1): 
    self.name=my_name
    self.job=my_job
    self.salary=my_salary
    self.year=my_year

# instantiate new employee 
new_employee=Employee()

#Edit some missing info
new_employee.name="Sean"

# display attributes
print(new_employee.name)
print(new_employee.job)
print(new_employee.salary)
print(new_employee.year)

In [ ]:
# instantiate new employee 
new_employee=Employee("Jenny","DRH",85000)

# display attributes
print(new_employee.name)
print(new_employee.job)
print(new_employee.salary)
print(new_employee.year)

### Attribute of type "list"

In [ ]:
# Create the class Student
class Student: 
  def __init__(self, my_name=None, my_grades=[]): 
    self.name=my_name
    self.grades=my_grades

# instantiate new student 
student1=Student("Peter",[95,78,85])

# add one adiditonal grade
student1.grades=student1.grades+[88]

# display last grade obtained by student1
print("The last grade obtained by",student1.name,"was",student1.grades[len(student1.grades)-1])

# display average grade obtained by student1
print("The average grade obtained by",student1.name,"was",sum(student1.grades)/len(student1.grades))

### Attribute of customized type

In [ ]:
# Create the class Name
class Name: 
  def __init__(self, first=None, last=None): 
    self.first=first
    self.last=last

# Create the class Student
class Student: 
  def __init__(self, my_name=Name(), my_grades=[]): 
    self.name=my_name
    self.grades=my_grades

# Instantiate new name
name=Name("Lucie","CodeWell")
print(name.first, name.last)

# Instantiate new student 
student1=Student(name,[95,99,97])

# Display info
print("student name is",student1.name.first, student1.name.last)
print("student grades are",student1.grades)